USE [BPEDIS]
GO
/****** Object:  Table [dbo].[WEBBPE_USUARIO]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REGISTRO] [varchar](15) NULL,
	[PASS] [varchar](250) NULL,
	[ROL] [smallint] NULL,
	[NOMBRE] [varchar](100) NULL,
	[TOKEN] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_LEADS_TABLERO]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_LEADS_TABLERO](
	[PERIODO] [int] NULL,
	[TIPO_CAMPANHA] [char](1) NULL,
	[ZONAL] [varchar](20) NULL,
	[CENTRO] [varchar](20) NULL,
	[TIENDA] [varchar](20) NULL,
	[REGISTRO_EN] [char](10) NULL,
	[COD_UNICO] [varchar](15) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[TIPO_DOCUMENTO] [varchar](5) NULL,
	[TIPO_PERSONA] [varchar](20) NULL,
	[DISTRITO] [varchar](20) NULL,
	[DIRECCION] [varchar](150) NULL,
	[SCORE_BURO] [varchar](15) NULL,
	[DEUDA_SSFF] [numeric](16, 2) NULL,
	[BANCO_PRINCIPAL_SSFF] [varchar](10) NULL,
	[DEUDA_6M_SSFF] [numeric](16, 2) NULL,
	[VARIACION_DEUDA_6M_SSFF] [char](5) NULL,
	[GESTION_TIPO] [varchar](30) NULL,
	[GESTION_COMENTARIO] [varchar](100) NULL,
	[FECHA_CITA] [datetime2](7) NULL,
	[TASA] [numeric](8, 6) NULL,
	[CANAL_DESPLIEGUE] [varchar](5) NULL,
	[SEGMENTO] [char](5) NULL,
	[PRIORIDAD] [char](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_LEADS_EJECUTIVO]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_LEADS_EJECUTIVO](
	[PERIODO] [int] NOT NULL,
	[NUM_DOC] [varchar](15) NOT NULL,
	[REG_EJECUTIVO] [char](10) NOT NULL,
	[FECHA_ASIGNACION] [datetime2](7) NOT NULL,
	[FLG_ULTIMO] [char](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_LEAD_CAMPANHA_ATRIBUTO]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_LEAD_CAMPANHA_ATRIBUTO](
	[IDCAMPANHA] [int] NULL,
	[NUM_DOC] [varchar](15) NULL,
	[PERIODO] [int] NULL,
	[ATRIBUTO] [varchar](25) NULL,
	[TIPO] [varchar](15) NULL,
	[VALOR] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_LEAD_CAMPANHA]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_LEAD_CAMPANHA](
	[PERIODO] [int] NOT NULL,
	[FECHA_CARGA] [datetime2](7) NOT NULL,
	[NUM_DOC] [varchar](15) NOT NULL,
	[COD_UNICO] [varchar](15) NULL,
	[ID_CAMPANHA] [int] NOT NULL,
	[CANAL_DESPLIEGUE] [varchar](5) NOT NULL,
	[FECHA_ACTUALIZACION] [datetime2](7) NOT NULL,
	[PRIORIDAD] [char](2) NULL,
	[CANAL_ACTUAL] [varchar](5) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_LEAD]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_LEAD](
	[PERIODO] [int] NULL,
	[COD_UNICO] [varchar](15) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[NOMBRE_CLIENTE] [varchar](150) NULL,
	[REPRESENTANTE_LEGAL] [varchar](150) NULL,
	[TIPO_DOCUMENTO] [varchar](5) NULL,
	[TIPO_PERSONA] [varchar](20) NULL,
	[DIRECCION] [varchar](250) NULL,
	[PROVINCIA] [varchar](25) NULL,
	[DEPARTAMENTO] [varchar](25) NULL,
	[DISTRITO] [varchar](25) NULL,
	[TELEFONO1] [char](9) NULL,
	[TELEFONO2] [varchar](9) NULL,
	[TELEFONO3] [varchar](9) NULL,
	[TELEFONO4] [varchar](9) NULL,
	[SCORE_BURO] [varchar](15) NULL,
	[DEUDA_SSFF] [numeric](16, 2) NULL,
	[BANCO_PRINCIPAL_SSFF] [varchar](10) NULL,
	[DEUDA_6M_SSFF] [numeric](16, 2) NULL,
	[VARIACION_DEUDA_6M_SSFF] [char](5) NULL,
	[SEGMENTO] [char](5) NULL,
	[ACTIVIDAD] [varchar](50) NULL,
	[GIRO] [varchar](25) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_HIST_REASIGNACION]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_HIST_REASIGNACION](
	[PERIODO] [int] NULL,
	[REGISTRO_REASIGNADOR] [char](10) NULL,
	[REGISTRO_EN_ORIGEN] [char](10) NULL,
	[REGISTRO_EN_DESTINO] [char](10) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[FECHA_REGISTRO] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_HIST_MOVIMIENTO_CANAL]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_HIST_MOVIMIENTO_CANAL](
	[PERIODO] [int] NULL,
	[LEAD] [varchar](15) NULL,
	[CANAL_ORIGEN] [varchar](5) NULL,
	[CANAL_DESTINO] [varchar](5) NULL,
	[FECHA_ACTUALIZACION] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_HIST_EST_CAMPANHA]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_HIST_EST_CAMPANHA](
	[ID_CAMPANHA] [int] NULL,
	[ESTADO_CAMPANHA] [char](1) NULL,
	[FECHA_ACTUALIZACION] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_GESTION_LEAD_CAMPANHA]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_GESTION_LEAD_CAMPANHA](
	[PERIODO] [int] NULL,
	[ID_CAMPANHA] [int] NULL,
	[REGISTRO_EN] [varchar](10) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[RESULTADO] [varchar](25) NULL,
	[MOTIVO] [varchar](25) NULL,
	[COMENTARIO] [varchar](150) NULL,
	[FLG_ULTIMO] [char](1) NULL,
	[FECHA_REASIGNACION] [datetime2](7) NULL,
	[FECHA_REGISTRO] [datetime2](7) NULL,
	[FECHA_ACTUALIZACION] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_FEEDBACK]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_FEEDBACK](
	[PERIODO] [int] NULL,
	[FECHA_REGISTRO] [datetime2](7) NULL,
	[REGISTRO_EN] [varchar](10) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[FEEDBACK] [varchar](10) NULL,
	[TIPO_FEEDBACK] [varchar](15) NULL,
	[VALOR] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_CITAS]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_CITAS](
	[PERIODO] [int] NULL,
	[ID_CAMPANHA] [int] NULL,
	[NUM_DOC] [varchar](15) NULL,
	[REGISTRO_EN_AGENDADOR] [varchar](10) NULL,
	[REGISTRO_EN] [varchar](10) NULL,
	[FECHA_CITA] [datetime2](7) NULL,
	[TIPO_HORARIO] [int] NULL,
	[PERSONA_CONTACTO] [varchar](50) NULL,
	[TELEFONO_CONTACTO] [char](9) NULL,
	[DEPARTAMENTO] [varchar](25) NULL,
	[PROVINCIA] [varchar](25) NULL,
	[DISTRITO] [varchar](25) NULL,
	[DIRECCION_CONTACTO] [varchar](200) NULL,
	[REFERENCIA] [varchar](150) NULL,
	[FECHA_REGISTRO] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_CAT_CAMPANHA]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_CAT_CAMPANHA](
	[ID_CAMPANHA] [int] NULL,
	[ABREV_CAMPANHA] [char](3) NULL,
	[NOMBRE_CAMPANHA] [varchar](50) NULL,
	[FECHA_CREACION] [datetime2](7) NULL,
	[ESTADO_CAMPANHA] [char](1) NULL,
	[DESCRIPCION] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEBBPE_ADD_CONTACTO]    Script Date: 08/03/2017 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEBBPE_ADD_CONTACTO](
	[PERIODO] [int] NULL,
	[FECHA_REGISTRO] [datetime2](7) NULL,
	[REGISTRO_EN] [varchar](10) NULL,
	[NUM_DOC] [varchar](15) NULL,
	[TIPO_CONTACTO] [varchar](15) NULL,
	[VALOR] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
