/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #slideimagen{
        height: 130px;
        width: 100%;

    }
    #slideol{
        top: 100px;
    }
    .headerpanel{
        margin: 20px 0px 20px 0px;
    }
}



.login_content h1:after, .login_content h1:before {
    width: 10%;
}

body .container.body .right_col {
    background-color:#F7F7F7;;
}

.form-control{
    padding: 6px 10px;
    font-size: 12px;
    height: 30px;
}


.icon-feedback{
    cursor: pointer;
    color: lightgray;
}

.icon-feedback:hover, .icon-feedback-active{
    color:gray;
}

.tachado{
    text-decoration:line-through;
}

.form-horizontal .info-label {
    padding-top: 8px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 100;
}

.circle-tag{
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    font-size: 20px;
    color: white;
    padding-left: 9px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;

}

.circle-tag-0{
    background-color: #C1CDD8;
}

.circle-tag-1{
    background-color: #007EE5;
}

.circle-tag-2{
    background-color: #DB242C;
}

.circle-tag-3{
    background-color: #F79012;
}

.res_item_busq {
    margin-top: 8px;
    margin-bottom: 8px;
}