/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #slideimagen{
        height: 130px;
        width: 100%;

    }
    #slideol{
        top: 100px;
    }
    .headerpanel{
        margin: 20px 0px 20px 0px;
    }
}


.login_content h1:after, .login_content h1:before {
    width: 10%;
}

body .container.body .right_col {
    background-color:#F7F7F7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control{
    padding: 6px 10px;
    font-size: 12px;
    height: 30px;
}

.btn{
    padding: 5px 11px;
    font-size: 12.5px;
}


/*Fix para iconos*/
.icon-feedback, .icon-feedback:hover, .icon-feedback-active{
    font-size: 1.3em !important;
    margin-right: 3px;
}

.icon-feedback{
    color: lightgray;
    cursor: pointer;
}

.icon-feedback:hover, .icon-feedback-active{
    color:gray;
}

.tachado{
    text-decoration:line-through;
}

.form-horizontal .info-label {
    padding-top: 8px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 100;
}

/*Cambio de color mas llamativo para fechas habiles*/
.datepicker-days .day{
    color: #3E538B;
}

/* Estilos para las etiquetas personalizadas del ejecutivo de negocio*/
.circle-tag{
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    font-size: 20px;
    color: white;
    padding-left: 9px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;

}

.circle-tag-0{
    background-color: #C1CDD8;
}

.circle-tag-1{
    background-color: #007EE5;
}

.circle-tag-2{
    background-color: #DB242C;
}

.circle-tag-3{
    background-color: #F79012;
}


/* Fix posición iconos de validacion de formularios*/
.form-control-feedback {
    right: 22px;
}

.form-control-feedback[data-fv-icon-for="flgLinkedin"] {
    left:40px;
}
.form-control-feedback[data-fv-icon-for="flgLinkedin2"] {
    left:40px;
}
.has-feedback label ~ .form-control-feedback {
    top: 20px;
}



.res_item_busq {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Style para iconos de ordenamiento de columna de tabla*/
.order-icon{
    cursor: pointer;
    color: #C1CDD8;
}

.order-icon:hover{
    color: #ECF0F1;
}

.order-icon-active{
    cursor: pointer;
    color: #ECF0F1;
}


/* Style toolbox de x_cards*/
.panel_toolbox > li > a {
    color: #ADAFB3;
}


/* color de letra para alert warning*/
.alert-warning{
    color: #FFFFFF;
}

/* Tabla calendario de citas */
.table-calendar-cita thead{
    background: rgba(52,73,94,.94);
    color: #ECF0F1;
}

.table-calendar-cita thead th{
    text-align: center;
    border-bottom: none !important;
}

.table-calendar-cita td{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: none;
    height: 30px;
}

.table-calendar-cita td.celda-horario{
    text-align: center;
    font-size: 14px;
}

.table-calendar-cita tbody th{
    border-bottom: 1px solid #ddd;
    border-top: none;
    text-align: center;
}

.rsgn_en_nombre {
    font-size:  28px;
}

.rsgn_btn_div {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}